<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"  type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/vue-router@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/components/home.js"></script>
    <script src="./js/components/showAllItemsComponent.js"></script>
    <script src="./js/components/signIn.js"></script>
    <script src="./js/components/signUp.js"></script>
    <script src="./js/components/404.js"></script>
    <script src="./js/script.js"></script>
    <title>BestStock</title>
</head>

<body>
    <div id="vue_root">

      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#"><router-link to="/" class="text-white"><b>BestStock</b></router-link></a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a v-if="loggedIn" class="nav-link"><router-link to="/items" class="text-white"><b>Mon stock</b></router-link></a>
          </li>
          <li class="nav-item">
            <a v-if="!loggedIn" class="nav-link"><router-link to="/signup" class="text-white"><b>S'inscrire</b></router-link></a>
          </li>
          <li class="nav-item">
            <a  v-if="!loggedIn" class="nav-link"><router-link to="/signin" class="text-white"><b>Se connecter</b></router-link></a>
          </li>
          <li class="nav-item">
            <a  v-if="loggedIn" class="nav-link text-white" onclick="signout()" href="#"><b>Se déconnecter</b></a>
          </li>
        </ul>
      </nav>
      <div class="m-3">
        <router-view></router-view>
      </div>
    </div>
</body>

</html>

<script>

  function signout() {

    swal({
      title: "Déconnexion",
      text: "Vous êtes bien déconnecté !",
      icon: "success",
      button: "OK",
    })
    .then( clickOk => {
      localStorage.clear();
      location.reload();
    });
  }

</script>